body{
	background: url("images/Neil.jpg");
    background-repeat: repeat;
    background-size: 100px;
    
    
}

h1 {
    text-align: center;
    font-size: 80px;
    font-weight:bold;
    border-color: black;
}

img { 
    height: 150px;
    width: 150px;
}
.btn {
    /* adding spacing between each button*/
    margin: 3px;
    background-color: black;
    border-color:yellow;
}
.gifDiv{
    float: left;
    margin: 3px;
   
}
.container {
	background-color:yellow;
	opacity: 0.8;
	padding: 20px;
}

.header {
    font:white;
    font-weight: bold;
    text-align: center;
}




